div[name=Datatable] div.row:last-child strong,
div[name=Datatable] div.row:last-child label[name=PageSizeSelect] {
  font-weight: normal;
}

div[name=Datatable] div.row:last-child {
  font-weight: normal;
  color: #999;
}

.bg-module {
  //background-color: #fdf8ef;
  background-color: white;
}

.bg-muted {
  background-color: #DDD;
}

.tabs ul > li.nav-item > a.nav-link.active {
  color: black;
}
.tabs ul > li.nav-item > a.nav-link {
  color: darkgray;
}
.btn-toolbar .btn:not(:last-child) {
  margin-right: 3px;
}
.btn.min-width-80 {
  min-width: 80px;
}