div[name=Datatable] div.row:last-child strong,
div[name=Datatable] div.row:last-child label[name=PageSizeSelect] {
  font-weight: normal;
}

div[name=Datatable] div.row:last-child {
  font-weight: normal;
  color: #999;
}

.bg-module {
  //background-color: #fdf8ef;
  background-color: white;
}

.bg-muted {
  background-color: #DDD;
}

.tabs ul > li.nav-item > a.nav-link.active {
  color: black;
}
.tabs ul > li.nav-item > a.nav-link {
  color: darkgray;
}
.btn-toolbar .btn:not(:last-child) {
  margin-right: 3px;
}
.btn.min-width-80 {
  min-width: 80px;
}

.bg-tab {
  background-color:#EEEEEE;
}

.mx-input-wrapper input[name=date].mx-input {
  padding: 0.375rem 0.75rem;
  height: calc(2.25rem + 2px);
}

.mce-tinymce.mce-fullscreen {
  z-index: 2000;
  height: 100%;
}

.list-group-item + .list-group-item {
  border-top-width: 1px;
}

.btn-toolbar button:last-child {
  margin-right: 0;
}

.btn-toolbar button {
  margin-right: 2px;
}

.line-height-1 {
  line-height: 1;
}

/* Action buttons */
.action-btn-group button {
  margin-bottom: 1px;
}