div[name=Datatable] div.row:last-child strong,
div[name=Datatable] div.row:last-child label[name=PageSizeSelect] {
  font-weight: normal;
}

div[name=Datatable] div.row:last-child {
  font-weight: normal;
  color: #999;
}

